<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.station">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="駅一覧アプリ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LineActivity"></activity>
        <activity
            android:name=".lineSearchActivity"
            android:label="路線の頭文字を選択してください">
            <intent-filter>
                <category android:name="路線の頭文字を選択してください" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="駅一覧アプリ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>